/*****************************************************Nabar Section*********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    background-image: none;
    background-size: cover;
    background-position: center;
}

section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px orange;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}

section nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul {
    list-style: none;
}

section nav li {
    display: inline-block;
    padding: 0 10px;
}

section nav a {
    text-decoration: none;
    color: #000;
}

section nav li:hover {
    color: orange;
}
/*****************************************************Nabar Section*********************************************/