
/*****************************************************************nav bar**************************************************************/
.nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 30px;
  color: orange;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  font-size: 20px;
}

.nav > .nav-links > a:hover {
  background:white;
  color: orange;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: black;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(50vh - 50px);
    overflow-y: auto;
  }

  legend > a {
    color:white;
    font-size: 15px;
  }
}
/***************************************************************nav bar****************************************************************/


/******************************************************images in the Most Viewed Section***********************************************/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


a {
  color:white;
  font-size: 25px;
}
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: gray;
    color: white;
  }
  /***************************************************Images in the Most Viewed Artwork************************************************/

/***********************************************************heading*********************************************************************/
.wrapper.eight {
  font-size: 6rem;
  background-color: white;
  overflow: hidden;
  color: white;
}
.eight .smoke {
  margin: 3rem auto;
  display: inline-flex;

  background-color: #f1f1f1;
}
.eight span {
  display: inline-flex;
  text-shadow: 0 0 0 #f5f5f5;
  font-family: 'Play', sans-serif;
  animation: smoke 5s ease infinite;
}

@keyframes smoke {
  60% {
      text-shadow: 0 0 40px #f5f5f5;
  }
  to {
      transform: translate3d(12rem, -10rem, 0) skewX(50deg);
      text-shadow: 0 0 20px #f5f5f5;
      opacity: 0;
  }
}

.eight span:nth-of-type(1) {
  animation-delay: 3.1s;
}
.eight span:nth-of-type(2) {
  animation-delay: 3.2s;
}
.eight span:nth-of-type(3) {
  animation-delay: 3.3s;
}
.eight span:nth-of-type(4) {
  animation-delay: 3.4s;
}
.eight span:nth-of-type(5) {
  animation-delay: 3.5s;
}

/***********************************************************************heading********************************************************/

/************************************************************************body**********************************************************/
body {
  background-color: black;
}
/**************************************************************************body********************************************************/

/***************************************************************most viewed artwork****************************************************/
.mostv {
  font-family: 'Bungee Shade';
 color: white;
 text-align: center;
 font-size: 30px;
 
}
/****************************************************************Most Viewed artwork****************************************************/

/**********************************************************************Votes************************************************************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:black;
  padding-top: 100px;
}


.card {
  width: 300px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius:0;
  padding: 0px;
}

.title {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color:white;
}

input[type="radio"] {
  display: none;
}

label {
  position: relative;
  padding-left: 30px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  transition: background-color 0.3s;
}

input[type="radio"]:checked + label:before {
  background-color: #fff;
}

input[type="radio"]:focus + label {
  color: #ff6f00;
}

input[type="radio"]:checked + label {
  color: #ff6f00;
}

/* Neon Style */
input[type="radio"] + label:before {
  box-shadow: 0 0 10px #ff6f00;
}

input[type="radio"]:checked + label:before {
  box-shadow: 0 0 10px #ff6f00, 0 0 20px #ff6f00, 0 0 30px #ff6f00;
}

input[type="radio"]:hover + label:before {
  background-color: #ff6f00;
}

input[type="radio"]:focus + label:before {
  background-color: #ff6f00;
}

@media (max-width: 480px) {
  .card {
    width: 90%;
  }
}

/********************************************************************Votes**************************************************************/




/*******************************************************************buttons*************************************************************/

/*search bar*/
.search input[type=text]{
  width:300px;
  height:25px;
  border-radius:25px;
  border: none;
  padding: 20px;
  margin:0;
}
   
.search{
  float:right;
  margin:0;
  padding: 20px;
}
   
.search button{
  background-color: #0074D9;
  color: #f2f2f2;
  float: right;
  padding: 1px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;}

  /********************************************************************seach bar********************************************************/

  /********************************************************************Submit button****************************************************/
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.neon{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    cursor: pointer;
   
}
.neon:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
 .neon:nth-child(1){
    filter: hue-rotate(270deg);
}
.neon:nth-child(2){
    filter: hue-rotate(110deg);
}
.neon span{
    position: absolute;
    display: block;
}
.neon span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.neon span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.neon span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.neon span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
  /**************************************************************Submit button**********************************************************/

  /*Thank you text*/
  @import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
  @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

  fieldset{
    width:100%;
    padding: 15px;

  }

  .thanks {
    border: 2px solid white;
    margin:0px;
    padding:0px;
    
  }

  /******************************************************************Thank you text********************************************************/

  /**********************************************************************links*********************************************************/
  a {
    color:white;
  }
  /**************************************************************************links*******************************************************/

  /*********************************************************************main content****************************************************/
  .main-content {
   width: 100%;
  }

  #frame {
    background-image: url(painting.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  /*********************************************************************main content***************************************************/